.env
.venv
floor/*
cache/**/*.parquet
*.parquet
.ipynb_checkpoints
shap_values.pickle.dat

__pycache__/
*.py[cod]

dp-things/*

.idea/

*.pickle.dat
feature_engineering_cli/feature_engineering_cli/datasets/malware_dataset.pickle

domain_datafile.trapcap.*
filtered_domain_datafile.trapcap.*
*.joblib
*.csv
*.pickle
*.json
*.png
*.zip
*.pth
*.log